<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<%= image_tag @event.banner_image, :width => "25%" if @event.banner_image.present? %>
<p>Status: <%= @event.status.capitalize %></p>
<p>Max Allocation: <%= @event.max_allocation %></p>

<hr>
<h2>List registered tickets</h2>
<ul>
    <% @event.tickets.each do |ticket| %>
        <li><%= ticket.name %></li>
    <% end %>
</ul>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %> |
<%= link_to 'Back to Events', events_path %>