<h1>Register for a Ticket for <%= @event.name %></h1>

<%= form_with model: [@event, @ticket], local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.hidden_field :status, :value => 'pending' %>
  </div>



  <div>
    <%= form.submit 'Register' %>
  </div>
<% end %>